@charset "utf-8";

/* init  */

*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
.clearfix::after{
    content :"";display: block;clear:both;
}

a:link,a:visited{
    text-decoration: none; color:rgb(107, 47, 219);
}


/* header  */

#hd{
    width: 1000px;
    background-color: yellowgreen;
    margin: 0 auto;
}

#hd h1{
    width: 100px;
    /* background-color: skyblue; */
    text-align: center;
    margin: 0 auto;
}

#hd h1 a {
    /* background-color: blue; */
    display: block;
}

.menu li{
    float: left;
    width: 20%;
}
.menu li a{
    text-align: center;
    display: block;
    line-height: 50px;
    border: 1px solid black;
}